$primary-font: "Raleway", sans-serif;
$primary-color: #292923;
$green: #34dbad;
$ivory: #fbfad6;
$purple: #634A68;
$light1: #fbfae6;
$light2: #e4ebe9;
$yellow1: #edcd4c;
$yellow2: #ffe787;
$yellow3: #ffd600;
$yellow4: #d6ab00;

body {
	font-family: $primary-font;
	color: $primary-color;
}

h1{
	color: $green;
	text-align: center;
}

button.btn{
	background-color: $purple;
	color: #fff;
	border: none;
}

form{
	background-color: $ivory;
	border: 4px solid $green;
	border-radius: 4px;
	padding: 20px;
	margin: 40px 0;

	label{
		padding-right: 20px;
	}
}

.todo-list{

	.header-row{
		padding-top: 20px;
		padding-bottom: 20px;
		background-color: $purple;
		color: #fff;
		text-transform: uppercase;
		font-weight: 700;
		margin: 0;
	}

	.list-item{
		background-color: $light1;
		padding-top: 15px;
		padding-bottom: 15px;
		margin: 0;
		
		&.item-alt{
			background-color: $light2;
		}

		i.fa-circle-o{
			color: $purple;
		}

		i.fa-check-circle{
			color: $green;
		}

		.topic{
			text-transform: uppercase;
			font-weight: 500;
			padding: 5px;

			&.work{
				background-color: $yellow1;
			}

			&.school{
				background-color: $yellow2;
			}

			&.home{
				background-color: $yellow3;
			}

			&.fun{
				background-color: $yellow4;
			}
		}
	}

}
